android/app/src/main/AndroidManifest.xml merge=ours
android/app/build.gradle 	merge=ours
android/build.gradle              merge=ours
android/settings.gradle           merge=ours
android/gradle.properties         merge=ours
pubspec.yaml 			merge=ours
android/app/src/main/kotlin/com/mycompany/kikonnect/MainActivity.kt merge=ours

ios/Runner/Info.plist             merge=ours
ios/Runner.xcodeproj/project.pbxproj merge=ours
ios/Runner.xcworkspace/contents.xcworkspacedata merge=ours
